body {
    background-color: black;
    user-select: none;
}

div#logo {
    position: absolute;
    height: 128px;
    width: 128px;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 8px;
}

div#logo>p {
    text-transform: uppercase;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

div#logo>p:first-of-type {
    font-size: 50px;
    font-style: italic;
    letter-spacing: -8px;
    margin-right: 8px;
}

div#logo>p:last-of-type {
    font-size: 27px;
    color: white;
    margin-top: -8px;
}